{
  "openapi": "3.0.3",
  "info": {
    "title": "AXNPAY Integrations API",
    "version": "2026-05-02",
    "description": "Referencia publica para integracao de cobrancas, saques, conciliacao e checkout de cartao da AXNPAY."
  },
  "servers": [
    {
      "url": "https://api.axnpay.com.br"
    }
  ],
  "security": [
    {
      "secretKeyAuth": []
    }
  ],
  "paths": {
    "/v1/integrations/create-transaction": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Gerar cobranca",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              },
              "example": {
                "amount": 150,
                "currency": "brl",
                "productName": "Pedido #1001",
                "description": "Plano Premium",
                "clientName": "Maria",
                "clientEmail": "maria@example.com",
                "referenceId": "9e4a5fb4-61bb-4b38-9bb6-b7029b74bdf6",
                "checkoutUiMode": "hosted",
                "paymentMethodTypes": [
                  "card",
                  "link"
                ],
                "successUrl": "https://merchant.example.com/checkout/success",
                "cancelUrl": "https://merchant.example.com/checkout/cancel",
                "tracking_parameters": {
                  "utm_source": "google",
                  "utm_medium": "cpc",
                  "utm_campaign": "launch"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cobranca criada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTransactionResponse"
                },
                "example": {
                  "transactionId": "9e4a5fb4-61bb-4b38-9bb6-b7029b74bdf6",
                  "status": "PENDING",
                  "type": "CASHIN",
                  "source": "CREDIT_CARD",
                  "origin": "API",
                  "amount": 150,
                  "feeAmount": 0,
                  "finalAmount": 150,
                  "description": "Plano Premium",
                  "productName": "Pedido #1001",
                  "trackingParameters": {
                    "utm_source": "google",
                    "utm_medium": "cpc",
                    "utm_campaign": "launch"
                  },
                  "pixCode": null,
                  "pixKeyType": null,
                  "pixKey": null,
                  "clientName": "Maria",
                  "clientEmail": "maria@example.com",
                  "clientPhone": null,
                  "clientCpf": null,
                  "externalId": "checkout_sess_abc123",
                  "gatewayId": null,
                  "endToEndId": null,
                  "receiptUrl": null,
                  "transactionDate": "2026-05-02T18:46:16.748Z",
                  "paidAt": null,
                  "createdAt": "2026-05-02T18:46:16.748Z",
                  "updatedAt": "2026-05-02T18:46:16.748Z",
                  "balanceImpact": true,
                  "settlementMode": "internal",
                  "checkout": {
                    "sessionId": "checkout_sess_abc123",
                    "uiMode": "hosted",
                    "url": "https://checkout.axnpay.com/session/checkout_sess_abc123",
                    "clientSecret": null,
                    "publishableKey": null,
                    "accountDisplayName": "AXON SERVICOS FINANCEIROS LTDA",
                    "paymentMethodConfigurationId": null,
                    "requestedPaymentMethodTypes": [
                      "card",
                      "link"
                    ],
                    "livemode": true,
                    "paymentStatus": "unpaid",
                    "status": "open",
                    "expiresAt": null,
                    "webhookConfigured": true,
                    "settlementMode": "internal",
                    "balanceImpact": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/integrations/list-transactions": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Listar transacoes",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TxType"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TxStatus"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TxOrigin"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transacao unica ou lista paginada",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TransactionPublic"
                    },
                    {
                      "$ref": "#/components/schemas/PaginatedTransactions"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/integrations/create-cashout": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Solicitar transferencia",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCashoutRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saque criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashoutCreatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/v1/integrations/approve-cashout": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Aprovar saque legado",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveCashoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saque retornado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionPublic"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/v1/integrations/cashout": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Listar saques",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TxStatus"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TxOrigin"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada de saques",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTransactions"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/integrations/cashout/{id}": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Consultar saque",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saque encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionPublic"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/integrations/balance": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Consultar saldo",
        "responses": {
          "200": {
            "description": "Saldo consolidado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/integrations/card/config": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Consultar configuracao publica do checkout de cartao",
        "responses": {
          "200": {
            "description": "Configuracao publica do checkout de cartao para o frontend",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardConfigResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/integrations/card/checkout-session": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Consultar checkout de cartao",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sessao de checkout de cartao sincronizada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardCheckoutSessionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "secretKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "sk_live_prod_*",
        "description": "Use sua secret key: Bearer sk_live_prod_..."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Requisicao invalida",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Nao autenticado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Operacao nao permitida",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflito de idempotencia",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Recurso nao encontrado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unprocessable": {
        "description": "Regra de negocio invalida",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Falha no provedor externo",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Servico indisponivel ou ambiente nao configurado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "TxStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "PROCESSING",
          "COMPLETED",
          "FAILED",
          "REVERSED",
          "CANCELLED",
          "CHARGEBACK"
        ]
      },
      "TxType": {
        "type": "string",
        "enum": [
          "CASHIN",
          "CASHOUT",
          "INFRACTION"
        ]
      },
      "TxOrigin": {
        "type": "string",
        "enum": [
          "API",
          "PAINEL",
          "APP"
        ]
      },
      "PixKeyType": {
        "type": "string",
        "enum": [
          "CPF",
          "CNPJ",
          "EMAIL",
          "PHONE",
          "EVP"
        ]
      },
      "CheckoutUiMode": {
        "type": "string",
        "enum": [
          "hosted",
          "embedded",
          "custom"
        ]
      },
      "TrackingParameters": {
        "type": "object",
        "nullable": true,
        "additionalProperties": false,
        "properties": {
          "utm_source": {
            "type": "string"
          },
          "utm_medium": {
            "type": "string"
          },
          "utm_campaign": {
            "type": "string"
          },
          "utm_content": {
            "type": "string"
          },
          "utm_term": {
            "type": "string"
          }
        }
      },
      "CreateTransactionRequest": {
        "type": "object",
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 1000000,
            "description": "Valor bruto da cobranca."
          },
          "description": {
            "type": "string",
            "description": "Descricao livre da cobranca."
          },
          "productName": {
            "type": "string",
            "description": "Nome do produto ou servico."
          },
          "clientName": {
            "type": "string",
            "description": "Nome do pagador."
          },
          "clientEmail": {
            "type": "string",
            "format": "email",
            "description": "Email do pagador."
          },
          "clientPhone": {
            "type": "string",
            "description": "Telefone do pagador."
          },
          "clientCpf": {
            "type": "string",
            "description": "Documento do pagador."
          },
          "tracking_parameters": {
            "$ref": "#/components/schemas/TrackingParameters"
          },
          "utm_source": {
            "type": "string"
          },
          "utm_medium": {
            "type": "string"
          },
          "utm_campaign": {
            "type": "string"
          },
          "utm_content": {
            "type": "string"
          },
          "utm_term": {
            "type": "string"
          },
          "referenceId": {
            "type": "string",
            "format": "uuid",
            "description": "Chave de idempotencia do merchant."
          },
          "paymentMethod": {
            "type": "string",
            "description": "Exemplo: credit_card, visa, master, bolbradesco."
          },
          "paymentMethodTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Usado quando o checkout web de cartao ativo suportar selecao de metodos no frontend. Exemplo: [\"card\"], [\"card\",\"link\"], [\"paypal\"]."
          },
          "cardToken": {
            "type": "string",
            "description": "Token de cartao usado em fluxos Mercado Pago."
          },
          "installments": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12
          },
          "currency": {
            "type": "string",
            "description": "Moeda ISO-4217. Default: brl. A disponibilidade dos metodos depende do checkout ativo na conta."
          },
          "pixKeyType": {
            "$ref": "#/components/schemas/PixKeyType"
          },
          "pixKey": {
            "type": "string"
          },
          "checkoutUiMode": {
            "$ref": "#/components/schemas/CheckoutUiMode"
          },
          "successUrl": {
            "type": "string",
            "format": "uri"
          },
          "cancelUrl": {
            "type": "string",
            "format": "uri"
          },
          "returnUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "CreateCashoutRequest": {
        "type": "object",
        "required": [
          "amount",
          "pixKey",
          "pixKeyType"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 1000000
          },
          "pixKey": {
            "type": "string"
          },
          "pixKeyType": {
            "$ref": "#/components/schemas/PixKeyType"
          },
          "idempotencyKey": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ApproveCashoutRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 1
          },
          "transactionId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "anyOf": [
          {
            "required": [
              "id"
            ]
          },
          {
            "required": [
              "transactionId"
            ]
          }
        ]
      },
      "TransactionPublic": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/TxStatus"
          },
          "type": {
            "$ref": "#/components/schemas/TxType"
          },
          "source": {
            "type": "string"
          },
          "origin": {
            "$ref": "#/components/schemas/TxOrigin"
          },
          "amount": {
            "type": "number"
          },
          "feeAmount": {
            "type": "number"
          },
          "finalAmount": {
            "type": "number"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "productName": {
            "type": "string",
            "nullable": true
          },
          "trackingParameters": {
            "$ref": "#/components/schemas/TrackingParameters"
          },
          "pixCode": {
            "type": "string",
            "nullable": true
          },
          "pixKeyType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PixKeyType"
              }
            ],
            "nullable": true
          },
          "pixKey": {
            "type": "string",
            "nullable": true
          },
          "clientName": {
            "type": "string",
            "nullable": true
          },
          "clientEmail": {
            "type": "string",
            "nullable": true
          },
          "clientPhone": {
            "type": "string",
            "nullable": true
          },
          "clientCpf": {
            "type": "string",
            "nullable": true
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "gatewayId": {
            "type": "string",
            "nullable": true
          },
          "endToEndId": {
            "type": "string",
            "nullable": true
          },
          "receiptUrl": {
            "type": "string",
            "nullable": true
          },
          "transactionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "paidAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "balanceImpact": {
            "type": "boolean"
          },
          "settlementMode": {
            "type": "string"
          }
        }
      },
      "CreateTransactionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TransactionPublic"
          },
          {
            "type": "object",
            "properties": {
              "checkout": {
                "$ref": "#/components/schemas/CheckoutSession"
              }
            }
          }
        ]
      },
      "CashoutCreatedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TransactionPublic"
          },
          {
            "type": "object",
            "properties": {
              "_info": {
                "type": "string"
              }
            }
          }
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          },
          "from": {
            "type": "integer"
          },
          "to": {
            "type": "integer"
          }
        },
        "required": [
          "current_page",
          "per_page",
          "total",
          "last_page",
          "from",
          "to"
        ]
      },
      "PaginatedTransactions": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionPublic"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "disponivel": {
            "type": "number"
          },
          "reservaFinanceira": {
            "type": "number"
          },
          "saldoBloqueado": {
            "type": "number"
          },
          "saquePendente": {
            "type": "number"
          },
          "totalDisponivel": {
            "type": "number"
          },
          "totalSacado": {
            "type": "number"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "disponivel",
          "reservaFinanceira",
          "saldoBloqueado",
          "saquePendente",
          "totalDisponivel",
          "totalSacado",
          "updatedAt"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "detail": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "statusCode",
          "error",
          "message"
        ]
      },
      "CheckoutSession": {
        "type": "object",
        "nullable": true,
        "properties": {
          "sessionId": {
            "type": "string"
          },
          "uiMode": {
            "$ref": "#/components/schemas/CheckoutUiMode"
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "clientSecret": {
            "type": "string",
            "nullable": true
          },
          "publishableKey": {
            "type": "string",
            "nullable": true
          },
          "accountDisplayName": {
            "type": "string",
            "nullable": true
          },
          "paymentMethodConfigurationId": {
            "type": "string",
            "nullable": true
          },
          "requestedPaymentMethodTypes": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "livemode": {
            "type": "boolean"
          },
          "paymentStatus": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "webhookConfigured": {
            "type": "boolean"
          },
          "settlementMode": {
            "type": "string"
          },
          "balanceImpact": {
            "type": "boolean"
          }
        }
      },
      "CardCheckoutConfig": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "publishableKey": {
            "type": "string",
            "nullable": true
          },
          "supportedUiModes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckoutUiMode"
            }
          },
          "defaultUiMode": {
            "type": "string",
            "enum": [
              "hosted",
              "embedded",
              "custom"
            ],
            "nullable": true
          },
          "defaultSuccessUrl": {
            "type": "string",
            "nullable": true
          },
          "defaultCancelUrl": {
            "type": "string",
            "nullable": true
          },
          "defaultReturnUrl": {
            "type": "string",
            "nullable": true
          },
          "paymentMethodConfigurationId": {
            "type": "string",
            "nullable": true
          },
          "accountDisplayName": {
            "type": "string",
            "nullable": true
          },
          "livemode": {
            "type": "boolean"
          },
          "isWebhookConfigured": {
            "type": "boolean"
          },
          "webhookEndpointUrl": {
            "type": "string",
            "nullable": true
          },
          "isReadyForHostedCheckout": {
            "type": "boolean"
          },
          "isReadyForSelfHostedCheckout": {
            "type": "boolean"
          },
          "walletNotes": {
            "type": "object",
            "properties": {
              "applePay": {
                "type": "string"
              },
              "googlePay": {
                "type": "string"
              },
              "link": {
                "type": "string"
              }
            }
          }
        }
      },
      "CardConfigResponse": {
        "type": "object",
        "properties": {
          "checkout": {
            "$ref": "#/components/schemas/CardCheckoutConfig"
          }
        },
        "required": [
          "checkout"
        ]
      },
      "CardCheckoutSessionResponse": {
        "type": "object",
        "properties": {
          "transaction": {
            "$ref": "#/components/schemas/TransactionPublic"
          },
          "checkout": {
            "$ref": "#/components/schemas/CheckoutSession"
          }
        },
        "required": [
          "transaction",
          "checkout"
        ]
      }
    }
  }
}
