{
  "openapi": "3.0.3",
  "info": {
    "title": "AXNPAY Integrations API",
    "version": "2026-04-01",
    "description": "Referência pública para integração de cobrança, saque e conciliação."
  },
  "servers": [
    {
      "url": "https://api.axnpay.com.br"
    }
  ],
  "security": [
    {
      "secretKeyAuth": []
    }
  ],
  "paths": {
    "/v1/integrations/create-transaction": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Gerar cobrança PIX",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              },
              "example": {
                "amount": 20,
                "description": "Pedido #1234",
                "productName": "Plano Pro",
                "clientName": "Matteo Augusto",
                "clientEmail": "axonaxolote@gmail.com",
                "clientPhone": "11999999999",
                "clientCpf": "52998224725",
                "tracking_parameters": {
                  "utm_source": "meta_ads",
                  "utm_medium": "cpc",
                  "utm_campaign": "black_friday",
                  "utm_content": "criativo_1",
                  "utm_term": "checkout"
                },
                "referenceId": "77823bb5-3d84-4cbf-a2a4-43230cc3b1d1"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transação criada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionPublic"
                },
                "example": {
                  "transactionId": "77823bb5-3d84-4cbf-a2a4-43230cc3b1d1",
                  "status": "PENDING",
                  "type": "CASHIN",
                  "source": "PIX",
                  "origin": "API",
                  "amount": 20,
                  "feeAmount": 1.15,
                  "finalAmount": 18.85,
                  "description": "Pedido #1234",
                  "productName": "Plano Pro",
                  "trackingParameters": {
                    "utm_source": "meta_ads",
                    "utm_medium": "cpc",
                    "utm_campaign": "black_friday",
                    "utm_content": "criativo_1",
                    "utm_term": "checkout"
                  },
                  "pixCode": "00020101021226800014br.gov.bcb.pix...",
                  "pixKeyType": null,
                  "pixKey": null,
                  "clientName": "Matteo Augusto",
                  "clientEmail": "axonaxolote@gmail.com",
                  "clientPhone": "11999999999",
                  "clientCpf": "52998224725",
                  "externalId": "7f1b51df-2f3f-4c73-8e9f-fd31df9f7e77",
                  "endToEndId": null,
                  "receiptUrl": null,
                  "transactionDate": "2026-04-01T20:46:16.748Z",
                  "paidAt": null,
                  "createdAt": "2026-04-01T20:46:16.748Z",
                  "updatedAt": "2026-04-01T20:46:16.748Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/v1/integrations/list-transactions": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Listar transações",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TxType"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TxStatus"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TxOrigin"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transação única ou lista paginada",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TransactionPublic"
                    },
                    {
                      "$ref": "#/components/schemas/PaginatedTransactions"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/integrations/create-cashout": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Solicitar transferencia",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCashoutRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saque criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashoutCreatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/Unprocessable"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/v1/integrations/approve-cashout": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Aprovar saque (legado)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveCashoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saque retornado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionPublic"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/v1/integrations/cashout": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Listar saques",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TxStatus"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TxOrigin"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada de saques",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTransactions"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/integrations/cashout/{id}": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Consultar saque",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saque encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionPublic"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/integrations/balance": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Consultar saldo",
        "responses": {
          "200": {
            "description": "Saldo consolidado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "secretKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "sk_live_prod_*",
        "description": "Use sua secret key: Bearer sk_live_prod_..."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Requisição inválida",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Não autenticado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Operação não permitida",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflito de idempotência",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Recurso não encontrado",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unprocessable": {
        "description": "Regra de negócio inválida",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Falha no provedor externo",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "TxStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "PROCESSING",
          "COMPLETED",
          "FAILED",
          "REVERSED",
          "CANCELLED",
          "CHARGEBACK"
        ]
      },
      "TxType": {
        "type": "string",
        "enum": [
          "CASHIN",
          "CASHOUT",
          "INFRACTION"
        ]
      },
      "TxOrigin": {
        "type": "string",
        "enum": [
          "API",
          "PAINEL",
          "APP"
        ]
      },
      "PixKeyType": {
        "type": "string",
        "enum": [
          "CPF",
          "CNPJ",
          "EMAIL",
          "PHONE",
          "EVP"
        ]
      },
      "CreateTransactionRequest": {
        "type": "object",
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 1000000,
            "description": "Valor bruto da cobrança em reais (ex.: 20.00)."
          },
          "description": {
            "type": "string",
            "description": "Descrição livre da cobrança."
          },
          "productName": {
            "type": "string",
            "description": "Nome do produto/serviço."
          },
          "clientName": {
            "type": "string",
            "description": "Nome do pagador."
          },
          "clientEmail": {
            "type": "string",
            "format": "email",
            "description": "E-mail do pagador."
          },
          "clientPhone": {
            "type": "string",
            "description": "Telefone do pagador."
          },
          "clientCpf": {
            "type": "string",
            "description": "CPF/CNPJ do pagador (somente números)."
          },
          "tracking_parameters": {
            "type": "object",
            "description": "Parâmetros opcionais de tracking para conciliação e repasse via webhook.",
            "additionalProperties": false,
            "properties": {
              "utm_source": {
                "type": "string"
              },
              "utm_medium": {
                "type": "string"
              },
              "utm_campaign": {
                "type": "string"
              },
              "utm_content": {
                "type": "string"
              },
              "utm_term": {
                "type": "string"
              }
            }
          },
          "referenceId": {
            "type": "string",
            "format": "uuid",
            "description": "Chave de idempotência para CASHIN. Reutilize em retries da mesma cobrança."
          }
        }
      },
      "CreateCashoutRequest": {
        "type": "object",
        "required": [
          "amount",
          "pixKey",
          "pixKeyType"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 1000000
          },
          "pixKey": {
            "type": "string"
          },
          "pixKeyType": {
            "$ref": "#/components/schemas/PixKeyType"
          },
          "idempotencyKey": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ApproveCashoutRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 1
          },
          "transactionId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "anyOf": [
          {
            "required": [
              "id"
            ]
          },
          {
            "required": [
              "transactionId"
            ]
          }
        ]
      },
      "TransactionPublic": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/TxStatus"
          },
          "type": {
            "$ref": "#/components/schemas/TxType"
          },
          "source": {
            "type": "string"
          },
          "origin": {
            "$ref": "#/components/schemas/TxOrigin"
          },
          "amount": {
            "type": "number"
          },
          "feeAmount": {
            "type": "number"
          },
          "finalAmount": {
            "type": "number"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "productName": {
            "type": "string",
            "nullable": true
          },
          "trackingParameters": {
            "type": "object",
            "nullable": true,
            "additionalProperties": false,
            "properties": {
              "utm_source": {
                "type": "string"
              },
              "utm_medium": {
                "type": "string"
              },
              "utm_campaign": {
                "type": "string"
              },
              "utm_content": {
                "type": "string"
              },
              "utm_term": {
                "type": "string"
              }
            }
          },
          "pixCode": {
            "type": "string",
            "nullable": true
          },
          "pixKeyType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PixKeyType"
              }
            ],
            "nullable": true
          },
          "pixKey": {
            "type": "string",
            "nullable": true
          },
          "clientName": {
            "type": "string",
            "nullable": true
          },
          "clientEmail": {
            "type": "string",
            "nullable": true
          },
          "clientPhone": {
            "type": "string",
            "nullable": true
          },
          "clientCpf": {
            "type": "string",
            "nullable": true
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "endToEndId": {
            "type": "string",
            "nullable": true
          },
          "receiptUrl": {
            "type": "string",
            "nullable": true
          },
          "transactionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "paidAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "CashoutCreatedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TransactionPublic"
          },
          {
            "type": "object",
            "properties": {
              "_info": {
                "type": "string"
              }
            }
          }
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          },
          "from": {
            "type": "integer"
          },
          "to": {
            "type": "integer"
          }
        },
        "required": [
          "current_page",
          "per_page",
          "total",
          "last_page",
          "from",
          "to"
        ]
      },
      "PaginatedTransactions": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionPublic"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "disponivel": {
            "type": "number"
          },
          "reservaFinanceira": {
            "type": "number"
          },
          "saldoBloqueado": {
            "type": "number"
          },
          "saquePendente": {
            "type": "number"
          },
          "totalDisponivel": {
            "type": "number"
          },
          "totalSacado": {
            "type": "number"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "disponivel",
          "reservaFinanceira",
          "saldoBloqueado",
          "saquePendente",
          "totalDisponivel",
          "totalSacado",
          "updatedAt"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "detail": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "statusCode",
          "error",
          "message"
        ]
      }
    }
  }
}
